<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/assets/css/style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>

<body class="bg-amber-200 text-gray-900 flex flex-col min-h-dvh font-monoU">
  <header class="py-4 wrapper">
    <a href="/">ma9y</a> |
    <a href="/log">log</a>
  </header>
  <main class="flex-1 wrapper">
    {% block content %}
    {{ content | safe }}
    {% endblock %}
  </main>
  <footer class="py-4 wrapper text-center text-stone-500">
    <div class="inline text-xl">&copy;</div> {% year %} ma9y.net
  </footer>
</body>

</html>