<!DOCTYPE html>
<html lang="cs" class="dark">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Local storage check - dark mode -->
  <script>
    if (localStorage.getItem('color-theme') === 'dark') {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S1RHHS64EW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-S1RHHS64EW');
  </script>
  <link href="/assets/css/style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>

<body class="bg-gray-100 text-gray-900 dark:bg-sky-950 dark:text-gray-100 flex flex-col min-h-dvh font-bitter">
  <header class="py-3">
    <div class="wrapper flex justify-between h-16">
      <div class="self-center">
        <a href="/" class="text-xl font-semibold">ma9y</a>
      </div>
      <button id="theme-toggle" type="button" class="self-start text-gray-500 dark:text-gray-400 text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
        </svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </header>
  <main class="flex-1">
    <div class="wrapper">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </div>
  </main>
  <footer class="py-3">
    <div class="wrapper text-gray-400 dark:text-gray-600">
      <a href="/feed.xml" class="text-sm font-semibold">RSS</a> |
      <a href="/log" class="text-sm font-semibold">Log</a>
    </div>
  </footer>

  <script src="/assets/js/darkmode.js"></script>
</body>

</html>