{% extends "views/_layouts/base.njk" %}

{% block content %}

<div class="text-lg font-semibold">{{ title }}</div>
<div class="text-gray-600 dark:text-gray-400 italic pb-2">{{ page.date | postDate }}</div>
<div class="text">{{ content | safe }}</div>

{% include "partials/pagination.njk" %}

{% endblock %}